@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1c1c1c;
    --card: #ffffff;
    --card-foreground: #1c1c1c;
    --popover: #ffffff;
    --popover-foreground: #1c1c1c;
    --primary: #3a82f6;
    --primary-foreground: #e6f0fc;
    --secondary: #cce0f5;
    --secondary-foreground: #1c1c1c;
    --muted: #cce0f5;
    --muted-foreground: #737373;
    --accent: #cce0f5;
    --accent-foreground: #1c1c1c;
    --destructive: #f24d4d;
    --destructive-foreground: #e6f0fc;
    --border: #e5e5f0;
    --input: #e5e5f0;
    --ring: #3a82f6;
    --radius: 0.5rem;
  }

  .dark {
    --background: #1c1c1c;
    --foreground: #e6f0fc;
    --card: #1c1c1c;
    --card-foreground: #e6f0fc;
    --popover: #1c1c1c;
    --popover-foreground: #e6f0fc;
    --primary: #5c9cf2;
    --primary-foreground: #1c1c1c;
    --secondary: #2c2c2c;
    --secondary-foreground: #e6f0fc;
    --muted: #2c2c2c;
    --muted-foreground: #a3a3a3;
    --accent: #2c2c2c;
    --accent-foreground: #e6f0fc;
    --destructive: #802525;
    --destructive-foreground: #e6f0fc;
    --border: #2c2c2c;
    --input: #2c2c2c;
    --ring: #f0f5fa;
  }
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .dark button:not(:disabled):hover {
    opacity: 0.9;
  }
  
  .dark select option {
    background-color: var(--background);
    color: var(--foreground);
  }
}.outline-text {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  /* Safari and Chrome only */
}
  .dark .outline-text {
    -webkit-text-stroke-color: white;
  } 
  .outline-text {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
.dark .outline-text {
  -webkit-text-stroke-color: white;
}

